@using SubsidizedDutyMeal.Models.View_Model;

@model LoginViewModel
@{
    ViewBag.Title = "LogIn";
}




<link rel="stylesheet" type="text/css" href="~/Content/css/materialdesignicons.min.css">
<link rel="stylesheet" href="~/Content/css/feather.css">
<link rel="stylesheet" href="~/Content/css/vendor.bundle.base.css">
<link rel="stylesheet" href="~/Content/css/vendor.bundle.addons.css">
<link rel="stylesheet" href="~/Content/css/style.css">
<link rel="shortcut icon" href="~/Content/images/favicon.png" />


<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
            <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
                <div class="row w-100">
                    <div class="col-lg-4 mx-auto">
                        <div class="auto-form-wrapper">

                            
                        </div>
                        <ul class="auth-footer">
                            <li>
                                <a href="#">Conditions</a>
                            </li>
                            <li>
                                <a href="#">Help</a>
                            </li>
                            <li>
                                <a href="#">Terms</a>
                            </li>
                        </ul>
                        <p class="footer-text text-center">copyright © 2018 Bootstrapdash. All rights reserved.</p>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>

    @*<!-- container-scroller -->
        <!-- plugins:js -->
        <script src="../../vendors/js/vendor.bundle.base.js"></script>
        <script src="../../vendors/js/vendor.bundle.addons.js"></script>
        <!-- endinject -->
        <!-- inject:js -->
        <script src="../../js/off-canvas.js"></script>
        <script src="../../js/hoverable-collapse.js"></script>
        <script src="../../js/misc.js"></script>
        <script src="../../js/settings.js"></script>
        <script src="../../js/todolist.js"></script>
        <!-- endinject -->*@
</body>

